@inject NavigationManager navigationManager
@inject IToastService toastService
@inject AppState appState
@inject SiteSettingsSiteUserRepository repository
@inject SiteSettingsGroupRepository siteSettingsGroupRepository
@inject RoleRepository roleRepository

<Spinner Loading="@(isInitializing)" Mode="@SpinnerMode.Overlay">
    <EditForm Model="@createModel" OnValidSubmit="@Create" class="form w-100">
        <FluentValidationValidator/>
        <Modal Width="modal-xl">
            <ModalSubTitle>Create a new @EntityName.ToLower()</ModalSubTitle>
            <ModalBody>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <InputLabel Value="First name" Required="true"/>
                            <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@createModel.FirstName"/>
                            <ValidationMessage For="@(() => createModel.FirstName)"/>
                        </div>
                        <div class="mb-5">
                            <InputLabel Value="Last name" Required="true"/>
                            <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@createModel.LastName"/>
                            <ValidationMessage For="@(() => createModel.LastName)"/>
                        </div>
                        <div class="mb-5">
                            <InputLabel Value="Email address" Required="true"/>
                            <InputTextField class="form-control form-control-lg form-control-solid" autocomplete="off" @bind-Value="@createModel.EmailAddress"/>
                            <ValidationMessage For="@(() => createModel.EmailAddress)"/>
                        </div>
                        <div class="mb-5">
                            <InputLabel Value="Password" Required="true"/>
                            <div class="position-relative mb-3 toggle-password-visibility">
                                <InputTextField type="@newPasswordType" class="form-control form-control-lg form-control-solid" autocomplete="new-password" @bind-Value="@createModel.Password"/>
                                <span @onclick="@ToggleNewPassword" class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
                                    <i class="fa fa-eye fa-lg text-gray-400"></i>
                                    <i class="fa fa-eye-slash fa-lg text-gray-400"></i>
                                </span>
                            </div>
                            <ValidationMessage For="@(() => createModel.Password)"/>
                        </div>
                        <div class="mb-5">
                            <InputLabel Value="Confirmation password" Required="true"/>
                            <div class="position-relative mb-3 toggle-password-visibility">
                                <InputTextField type="@confirmationPasswordType" class="form-control form-control-lg form-control-solid" autocomplete="new-password" @bind-Value="@createModel.ConfirmationPassword"/>
                                <span @onclick="@ToggleConfirmationPassword" class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
                                    <i class="fa fa-eye fa-lg text-gray-400"></i>
                                    <i class="fa fa-eye-slash fa-lg text-gray-400"></i>
                                </span>
                            </div>
                            <ValidationMessage For="@(() => createModel.ConfirmationPassword)"/>
                        </div>
                        <div class="mb-5">
                            <InputLabel Value="Role" Required="true"/>
                            <SfDropDownList @bind-Value="@createModel.RoleId" TValue="int" TItem="RoleViewModel" Placeholder="Select a role..." AllowFiltering="true" DataSource="@roles">
                                <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                            <ValidationMessage For="@(() => createModel.RoleId)"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <label class="form-label fw-bolder text-dark mb-5">Group memberships</label>
                            @if (groups.Any())
                            {
                                foreach (var group in groups)
                                {
                                    var index = group.Id;

                                    if (!createModel.GroupCheckboxValues.ContainsKey(index))
                                    {
                                        createModel.GroupCheckboxValues.Add(index, false);
                                    }

                                    <div class="mb-5">
                                        <label class="form-check form-check-inline form-check-solid">
                                            <input id="group-@group.Id" class="form-check-input" type="checkbox" @bind="@createModel.GroupCheckboxValues[index]"/>
                                            <label class="form-check-label" for="group-@group.Id">
                                                @group.Name
                                            </label>
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="mb-0">No groups defined yet.</p>
                            }
                        </div>
                    </div>
                </div>
            </ModalBody>
            <ModalFooter>
                <SpinnerSubmitButton Loading="@isSubmitting" LoadingText="Creating..." IdleText="Create" Icon="plus" Size="md" Color="light-primary" Margins="false"/>
            </ModalFooter>
        </Modal>
    </EditForm>
</Spinner>

@code
{

        private const string EntityName = "User";

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; } = null!;

    private bool isInitializing;
    private bool isSubmitting;

    private readonly SiteUserCreateModel createModel = new();
    private IList<RoleViewModel> roles = new List<RoleViewModel>();
    private IList<GroupViewModel> groups = new List<GroupViewModel>();

    private string newPasswordType = "password";
    private string confirmationPasswordType = "password";

    protected override async Task OnInitializedAsync()
    {
        isInitializing = true;

        roles = await roleRepository.GetSiteRoles();
        groups = await siteSettingsGroupRepository.GetGroupsBySite(appState.Site.Id);

        isInitializing = false;
    }

    private async Task Create()
    {
        if (isSubmitting)
        {
            return;
        }

        isSubmitting = true;

        try
        {
            var model = await repository.Create(appState.Site.Id, createModel);
            toastService.ShowCreated(EntityName);
            await Modal.CloseAsync(ModalResult.Ok(model));
        }
        catch (Exception)
        {
            toastService.ShowUnexpectedError();
        }

        isSubmitting = false;
    }

    private void ToggleNewPassword()
    {
        newPasswordType = newPasswordType == "password" ? "text" : "password";
    }

    private void ToggleConfirmationPassword()
    {
        confirmationPasswordType = confirmationPasswordType == "password" ? "text" : "password";
    }

}