@inject PublicFileRepository fileRepository
@inject PublicFileTypeRepository fileTypeRepository
@inject IToastService toastService;
@inject OnBoardingState onBoardingState

<DefaultCulture Culture="@(new CultureInfo("nl-NL"))"/>
<EditForm Model="@createModel" OnValidSubmit="@NextStep" class="form w-100">
<FluentValidationValidator/>
<div class="sign-in-bg-gradient d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <div class="w-lg-800px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
            <div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid">
                <div class="d-xl-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px position-relative">
                    <div class="stepper-nav d-none d-xl-block">
                        <div class="stepper-item current">
                            <div class="stepper-line w-40px"></div>
                            <div class="stepper-icon w-40px h-40px">
                                <svg class="svg-inline--fa fa-check fa-w-16 stepper-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                </svg>
                                <span class="stepper-number">1</span>
                            </div>
                            <div class="stepper-label">
                                <h3 class="stepper-title">Upload sedula</h3>
                            </div>
                        </div>
                        <div class="stepper-item">
                            <div class="stepper-line w-40px"></div>
                            <div class="stepper-icon w-40px h-40px">
                                <svg class="svg-inline--fa fa-check fa-w-16 stepper-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                </svg>
                                <span class="stepper-number">2</span>
                            </div>
                            <div class="stepper-label">
                                <h3 class="stepper-title">Opgeven inkomen</h3>
                            </div>
                        </div>
                        <div class="stepper-item">
                            <div class="stepper-line w-40px"></div>
                            <div class="stepper-icon w-40px h-40px">
                                <svg class="svg-inline--fa fa-check fa-w-16 stepper-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                                </svg>
                                <span class="stepper-number">3</span>
                            </div>
                            <div class="stepper-label">
                                <h3 class="stepper-title">Gezinssituatie</h3>
                            </div>
                        </div>
                    </div>
                    <div class="steps w-100 d-xl-none">
                        <ul class="">
                            <li role="tab" aria-disabled="false" class="first checked current">
                                <a
                                    id="wizard-t-0" href="#wizard-h-0" aria-controls="wizard-p-0">
                                    <span
                                        class="current-info audible">
                                        current step:
                                    </span><span class="number">1.</span>
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="done" aria-selected="false">
                                <a id="wizard-t-1"
                                   href="#wizard-h-1"
                                   aria-controls="wizard-p-1">
                                    <span
                                        class="number">
                                        2.
                                    </span>
                                </a>
                            </li>
                            <li role="tab" aria-disabled="false" class="done">
                                <a id="wizard-t-2"
                                   href="#wizard-h-2"
                                   aria-controls="wizard-p-2">
                                    <span
                                        class="number">
                                        3.
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img src="/dist/img/mijn-fcb/upload-docs.svg" class="onboarding-illustration" alt=""/>
                </div>
                <div class="flex-row-fluid">
                    <div class="current min-height-400-desktop">
                        <div class="w-100 lh-lg">
                            <h2 class="mb-4">Upload sedula</h2>
                            <p>Als geverifieerd lid hebt u de mogelijkheid om te reageren op de huurwoningen. Om een geverifieerd mijn FCB lid te worden, upload u een kopie van uw identiteitsbewijs (bijv. paspoort of sedula)</p>
                            <InputLabel Value="File" Required="true"/>
                            <InputFile OnChange="@LoadFile" class="form-control form-control-lg form-control-solid"/>
                            <ValidationMessage For="@(() => createModel.Name)"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end pt-10">
                        <div class="me-2">
                            <button @onclick="@PreviousStep" type="button" class="btn btn-lg btn-link me-3">
                                <span class="svg-icon svg-icon-3 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="black"></rect>
                                        <path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="black"></path>
                                    </svg>
                                </span>Terug
                            </button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-lg btn-primary">
                                Volgende
                                <span class="svg-icon svg-icon-3 ms-1 me-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
                                        <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</EditForm>


@code {

    [Parameter]
    public int Step { get; set; }

    [Parameter]
    public EventCallback<int> StepChanged { get; set; }

    private bool isSubmitting;
    private readonly FileCreateModel createModel = new();
    private IList<FileTypeViewModel> fileTypes = null!;

    protected override async Task OnInitializedAsync()
    {
        fileTypes = await fileTypeRepository.Get();
    }
    
    private void LoadFile(InputFileChangeEventArgs args)
    {
        createModel.BrowserFile = args.File;
        createModel.Name = args.File.Name;
        createModel.FileTypeId = 5;
    }

    private async Task NextStep()
    {
        if (isSubmitting)
        {
            return;
        }

        if (createModel.BrowserFile == null)
        {
            return;
        }

        isSubmitting = true;

        try
        {
            var uploadedFile = await fileRepository.Create(createModel.BrowserFile, createModel);
            onBoardingState.FileId = uploadedFile.Id;
            toastService.ShowCreated("File successfully updated");
        }
        catch (HttpException)
        {
            toastService.ShowError("File upload failed");
        }

        isSubmitting = false;
        if (StepChanged.HasDelegate)
        {
            Step = 4;
            await StepChanged.InvokeAsync(Step);
        }
    }

    private async Task PreviousStep()
    {
        if (StepChanged.HasDelegate)
        {
            Step = 2;
            await StepChanged.InvokeAsync(Step);
        }
    }

}