@page "/settings/risk-score"
@attribute [Authorize(Policy = SiteAdministratorRequirement.Name)]

@inject IModalService modalService
@inject AppState appState
@inject RiskScoreRepository repository

<SettingPage>
    <PageSubHeader>
        <SubHeader Title="@Title" Icon="@Icon">
            <Toolbar>
                <SpinnerButton Loading="false" IdleText="@CreateButtonIdleText" LoadingText="Creating..." Size="sm" Icon="plus" Color="light-primary" Margins="false" Method="@ShowCreateModal"/>
            </Toolbar>
        </SubHeader>
    </PageSubHeader>
    <PageBody>
        <div class="card">
            <Spinner Loading="@(models == null)" Mode="@SpinnerMode.Overlay">
                <div class="card-header border-0 pt-6">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <i class="fal fa-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-solid w-250px ps-14" placeholder="Search" @bind-value="@searchText" @bind-value:event="oninput" @onkeyup="@SearchGrid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <SfGrid @ref="@grid" DataSource="@models" AllowSorting="true" AllowPaging="true">
                        <GridEvents RowSelected="@ShowUpdateModal" TValue="RiskScoreViewModel"/>
                        <GridColumns>
                            <GridColumn Field="@nameof(RiskScoreViewModel.Id)" HeaderText="Id"></GridColumn>
                            <GridColumn Field="@nameof(RiskScoreViewModel.Frequency)" HeaderText="Frequency"></GridColumn>
                            <GridColumn Field="@nameof(RiskScoreViewModel.Impact)" HeaderText="Impact"></GridColumn>
                            <GridColumn Field="@nameof(RiskScoreViewModel.Type)" HeaderText="Type"></GridColumn>
                            <GridColumn Field="@nameof(RiskScoreViewModel.Score)" HeaderText="Score"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </Spinner>
        </div>
    </PageBody>
</SettingPage>

@code {

        private const string Title = "Risk scores";
        private const string Icon = "tachometer-alt";
        private const string EntityName = "risk score";
        private const string CreateButtonIdleText = $"New {EntityName}";

    private SfGrid<RiskScoreViewModel> grid = null!;
    private IList<RiskScoreViewModel>? models;
    private string? searchText;

    protected override async Task OnInitializedAsync()
    {
        models = await repository.GetAll();
    }

    private void SearchGrid()
    {
        grid.Search(searchText);
    }

    private async Task ShowCreateModal()
    {
        var modal = modalService.Show<RiskScoreCreateModal>($"New {EntityName}");
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            models!.Add((RiskScoreViewModel)result.Data);
            grid.Refresh();
        }
    }

    private async Task ShowUpdateModal(RowSelectEventArgs<RiskScoreViewModel> args)
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("Model", args.Data);

        var modal = modalService.Show<RiskScoreUpdateModal>($"Edit {EntityName}", modalParameters);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            var model = (RiskScoreViewModel)result.Data;
            var index = models!.FindIndex(m => m.Id == model.Id);

            if (index >= 0)
            {
                models![index] = model;
                grid.Refresh();
            }
        }
    }

}