@inject NavigationManager navigationManager
@inject IToastService toastService
@inject AppState appState
@inject SiteSettingsGroupRepository repository

<EditForm Model="@createModel" OnValidSubmit="@Create" class="form w-100">
    <FluentValidationValidator/>
    <Modal>
        <ModalSubTitle>Create a new @EntityName.ToLower()</ModalSubTitle>
        <ModalBody>
            <div class="mb-5">
                <InputLabel Value="Name" Required="true"/>
                <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@createModel.Name"/>
                <ValidationMessage For="@(() => createModel.Name)"/>
            </div>
            <div class="mb-5">
                <InputLabel Value="System name" Required="true"/>
                <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@createModel.SystemName"/>
                <ValidationMessage For="@(() => createModel.SystemName)"/>
            </div>
        </ModalBody>
        <ModalFooter>
            <SpinnerSubmitButton Loading="@isSubmitting" LoadingText="Creating..." IdleText="Create" Icon="plus" Size="md" Color="light-primary" Margins="false"/>
        </ModalFooter>
    </Modal>
</EditForm>

@code
{

        private const string EntityName = "Group";

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; } = null!;

    private bool isSubmitting;
    private readonly GroupCreateModel createModel = new();

    private async Task Create()
    {
        if (isSubmitting)
        {
            return;
        }

        isSubmitting = true;

        try
        {
            var model = await repository.Create(appState.Site.Id, createModel);
            toastService.ShowCreated(EntityName);
            await Modal.CloseAsync(ModalResult.Ok(model));
        }
        catch (Exception)
        {
            toastService.ShowUnexpectedError();
        }

        isSubmitting = false;
    }

}