@page "/admin/user"
@attribute [Authorize(Policy = AdministratorRequirement.Name)]

@inject IModalService modalService
@inject UserRepository repository

<AdminPage ContainerSize="fluid">
    <PageSubHeader>
        <SubHeader Title="@Title" Icon="@Icon">
            <Toolbar>
                <SpinnerButton Loading="false" IdleText="@CreateText" LoadingText="Creating..." Size="sm" Icon="plus" Color="light-primary" Margins="false" Method="@ShowCreateModal"/>
            </Toolbar>
        </SubHeader>
    </PageSubHeader>
    <PageBody>
        <div class="card">
            <Spinner Loading="@(models == null)" Mode="@SpinnerMode.Overlay">
                <div class="card-header border-0 pt-6">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <i class="fal fa-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-solid w-250px ps-14" placeholder="Search" @bind-value="@searchText" @bind-value:event="oninput" @onkeyup="@SearchGrid">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <SfGrid @ref="@grid" DataSource="@models" AllowSorting="true" AllowPaging="true">
                        <GridEvents RowSelected="@ShowUpdateModal" TValue="UserViewModel"/>
                        <GridColumns>
                            <GridColumn Field="@nameof(UserViewModel.Id)" HeaderText="Id"/>
                            <GridColumn Field="@nameof(UserViewModel.EmailAddress)" HeaderText="Email address"/>
                            <GridColumn Field="Role.Name" HeaderText="Role"/>
                            <GridColumn Field="@nameof(UserViewModel.SiteUsers)" HeaderText="Sites">
                                <Template Context="user">
                                    @{
                                        foreach (var siteUser in ((UserViewModel)user).SiteUsers)
                                        {
                                            <span class="badge badge-light fw-bolder me-2">@siteUser.Site.Name</span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </Spinner>
        </div>
    </PageBody>
</AdminPage>

@code {

        private const string Title = "Users";
        private const string Icon = "users";
        private const string EntityName = "user";
        private const string CreateText = $"New {EntityName}";
        private const string EditText = $"Edit {EntityName}";

    private SfGrid<UserViewModel> grid = null!;
    private IList<UserViewModel>? models;
    private string? searchText;

    protected override async Task OnInitializedAsync()
    {
        models = await repository.GetAll();
    }

    private void SearchGrid()
    {
        grid.Search(searchText);
    }

    private async Task ShowCreateModal()
    {
        var modal = modalService.Show<UserCreateModal>(CreateText);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            models!.Add((UserViewModel)result.Data);
            grid.Refresh();
        }
    }

    private async Task ShowUpdateModal(RowSelectEventArgs<UserViewModel> args)
    {
        var modalParameters = new ModalParameters();
        modalParameters.Add("Model", args.Data);

        var modal = modalService.Show<UserUpdateModal>(EditText, modalParameters);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            var model = (UserViewModel)result.Data;
            var index = models!.FindIndex(m => m.Id == model.Id);

            if (index >= 0)
            {
                models![index] = model;
                grid.Refresh();
            }
        }
    }

}