@inject NavigationManager navigationManager
@inject IToastService toastService
@inject IMapper mapper
@inject ClientRepository repository

<EditForm Model="@updateModel" OnValidSubmit="@Update" class="form w-100">
    <FluentValidationValidator/>
    <Modal>
        <ModalSubTitle>Edit an existing @EntityName.ToLower()</ModalSubTitle>
        <ModalBody>
            <div class="mb-5">
                <InputLabel Value="Name" Required="true"/>
                <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@updateModel.Name"/>
                <ValidationMessage For="@(() => updateModel.Name)"/>
            </div>
            <div class="mb-5">
                <InputLabel Value="System name" Required="true"/>
                <InputTextField class="form-control form-control-lg form-control-solid" @bind-Value="@updateModel.SystemName"/>
                <ValidationMessage For="@(() => updateModel.SystemName)"/>
            </div>
        </ModalBody>
        <ModalFooter>
            <SpinnerSubmitButton Loading="@isSubmitting" LoadingText="Saving..." IdleText="Save" Icon="save" Size="md" Color="light-primary" Margins="false"/>
        </ModalFooter>
    </Modal>
</EditForm>

@code
{

        private const string EntityName = "Client";

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; } = null!;

    [Parameter]
    public ClientViewModel Model { get; set; } = null!;

    private ClientUpdateModel updateModel = null!;
    private bool isSubmitting;

    protected override void OnInitialized()
    {
        updateModel = mapper.Map<ClientUpdateModel>(Model);
    }

    private async Task Update()
    {
        if (isSubmitting)
        {
            return;
        }

        isSubmitting = true;

        try
        {
            var model = await repository.Update(updateModel);
            toastService.ShowUpdated(EntityName);
            await Modal.CloseAsync(ModalResult.Ok(model));
        }
        catch (Exception)
        {
            toastService.ShowUnexpectedError();
        }

        isSubmitting = false;
    }

}